<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800">
    <div class="justify-center flex p-12 items-center">
    <div>
        <h1 class="text-orange-500 font-bold sm:text-2xl">Your Generated Password<br></a>
    </h1>
    <p align="center" class="text-orange-500 font-semibold sm:text-2xl">is</p>
    <p align="center" class="mt-10 font-bold text-black bg-gray-500 p-4 text-white rounded-xl">{{ password }}</p>
    <p align="center"><a href=""><button type="button" class="p-3 bg-orange-500 text-white rounded-xl font-bold mt-10">Generate Password</button></p>
</div>
</div>
</body>
</html>